#header {
    width: 100%;
    background-color:white;
    height: 20px;
}

#container {
    align-content: space-between;
    width: 1270px;
    height: auto;
    background-color:white;
    margin: auto;
}
#first {
box-shadow: 10px 10px 8px #888888;
border: 2px solid black;
border-radius: 10px;
    display: inline-flexbox;
    text-align: justify;
    padding: 20px;
    margin-top: 40px;
    width: 640px;
    float: left;
    height: 770px;
        background-color: white;
}
#second {
    box-shadow: 10px 10px 8px #888888;
    border: 2px solid black;
    border-radius: 10px;
    display: inline-flexbox;
    padding: 20px;
    text-align: justify;
    margin-top: 40px;
    margin-left: 5px;
    width: 600px;
    float: right;
    height: 770px;
    background-color: white;
}
#clear {
    clear: both;
}
#prove{
    margin-left: 20px;
}