.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .form {
    width: 800px;
  }
#ocultable{ 
    display:none; }

#control{
  margin-top: 5%;
  margin-left: 40%;
    }