h2 {
    font-size: 18px;
    margin: 0 0 15px;
}
.login-form {
   
    width: 350px;
    margin: 30px auto;
}
.login-form form { 
    margin-top: 0%; 
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}    
.form-control, .btn {
    height: 36px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
    padding: 30px;
}
