.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
#prueba{
  width: 1000px;
}
p{
  margin-left: 10px;
}
#down1{
  margin-top: 56px;
}
#down2{
  margin-top: 15px;
}
#down3{
  margin-top: 30px;
}
#down4{
  margin-top: 35px;
}
#control{
  margin-top: 5%;
  margin-left: 40%;
}
.input-group.md-form.form-sm.form-1 input{
  border: 1px solid #bdbdbd;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
